<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodcastBoxAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PodcastBoxMVC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PodcastBoxMVCTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PodcastBoxMVVM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PodcastBoxMVVMTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PodcastBoxVIPER.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>PodcastBoxVIPERTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57B690A22867BC08008181B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>820DC2DE2A9F9252008C706E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8241705A2A9BA6F600775C4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829176482AADCADC00A0FF80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>829176962AADCCA700A0FF80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82966A9C2A9104B4004A593B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
